visa-officer-dashboard/build
visa-officer-dashboard/.env
visa-officer-dashboard/lib
visa-officer-dashboard/node_modules
backend/.env
backend/rag-knowledge-base
.idea
node_modules
venv/
*.pyc
backend/.env
**/__pycache__/
