python-dotenv
pydantic-settings
passlib
bcrypt==3.2.0
google-cloud-storage 
python-multipart
fastapi
uvicorn
jwt
pyjwt
pymongo
langchain==0.2.3
langchain-community==0.2.4
langchain-core==0.2.5
langchain-openai==0.1.8
langchain-text-splitters==0.2.1
faiss-cpu==1.8.0
pydantic==2.7.3
PyPDF2==3.0.1
openai
boto3
sentence_transformers
jose
python-jose
passlib
